*~
*.out
*.log
*.err
*.bak
*.pyc
*.sw[opn]
docs/.build/
.ipynb_checkpoints
docs/tutorial.rst
docs/tutorial_files
docs/junit-*.xml
MANIFEST
*.egg-info
*.egg
setuptools-*.zip
/dist/
/build/
/jUnittest.xml
/.tox
/.eggs
/.coverage
/coverage_html_report
/_scratch/
README.html
dropin.cache
